@media (min-width: 768px) and (max-width: 991px){


  .container-header{
    .navbar{
      .navbar-brand{
        img{
          height: 6.5vh!important;
        }
      }
      #bs4navbar{
        #menu-menu-principal{
          width: 90%!important;
        }
      }
    }
  }

  .container-image{
    height: 45vh!important;
    .eve-presentation{
      width: 70%!important;
      left: 15%!important;
      top: 45%!important;
    }
  }

  .container-events{
    .row-events{
      padding: 0!important;
      .flex-events{
        figure{
          height: 25vh!important;
        }
      }
    }
  }

  .container-publications{
    .row-publications{
      .flex-publications{
        .publication-link{
          width: 46%!important;
          margin: 2%!important;
          height: 25vh!important;
        }
      }
    }
  }

.container-contact{
  .phrase-contact{
    width: 70%!important;
  }
}

}
