@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  src: local("Raleway"), url("../fonts/Raleway-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Raleway-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local("Raleway-SemiBold"), url("../fonts/Raleway-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Raleway-Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Raleway-Bold"), url("../fonts/Raleway-Bold.ttf") format("truetype"); }

@media (max-width: 767px) {
  .container-header {
    padding: 0 !important; }
  .container-header .navbar {
    height: auto !important;
    background-color: #fff; }
  .container-header .navbar .navbar-brand {
    padding: 0;
    margin: 0; }
  .container-header .navbar .navbar-brand img {
    height: 6.5vh !important; }
  .container-header .navbar #bs4navbar {
    width: 100%; }
  .container-header .navbar #bs4navbar #menu-menu-principal {
    width: 100% !important;
    align-items: center; }
  .container-header .navbar #bs4navbar #menu-menu-principal .menu-item {
    margin-bottom: 1.5em; }
  .container-image .eve-presentation {
    width: 100% !important;
    left: 0 !important;
    top: auto !important;
    bottom: 0 !important; }
  .container-events .row-events {
    padding: 0 !important; }
  .container-events .row-events .flex-events {
    flex-direction: column; }
  .container-events .row-events .flex-events figure {
    width: 100% !important; }
  .container-publications .row-publications .flex-publications {
    flex-direction: column !important; }
  .container-publications .row-publications .flex-publications .publication-link {
    width: 100% !important;
    margin: 0 0 5% 0 !important; }
  .container-contact {
    padding-left: 15px !important;
    padding-right: 15px !important; }
  .container-contact .phrase-contact {
    width: 100% !important; }
  .container-footer {
    height: auto !important;
    flex-direction: column !important;
    padding-bottom: 5vh;
    padding-top: 5vh; }
  .container-footer .logo-footer img {
    position: relative !important;
    left: 0 !important;
    margin-bottom: 2vh; } }

@media (min-width: 768px) and (max-width: 991px) {
  .container-header .navbar .navbar-brand img {
    height: 6.5vh !important; }
  .container-header .navbar #bs4navbar #menu-menu-principal {
    width: 90% !important; }
  .container-image {
    height: 45vh !important; }
  .container-image .eve-presentation {
    width: 70% !important;
    left: 15% !important;
    top: 45% !important; }
  .container-events .row-events {
    padding: 0 !important; }
  .container-events .row-events .flex-events figure {
    height: 25vh !important; }
  .container-publications .row-publications .flex-publications .publication-link {
    width: 46% !important;
    margin: 2% !important;
    height: 25vh !important; }
  .container-contact .phrase-contact {
    width: 70% !important; } }

.flex-events {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 1em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.flex-events figure {
  position: relative;
  overflow: hidden;
  width: 48%;
  text-align: center;
  cursor: pointer;
  width: 48%;
  margin: 1%;
  height: 40vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-events figure img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  opacity: 0.3; }

.flex-events figure h2 {
  position: absolute;
  text-transform: uppercase;
  width: 60%;
  text-align: center; }

.flex-events figure h2 a {
  font-family: 'Raleway-Bold';
  color: #0f4658; }

.flex-events figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.flex-events figure
.flex-events figure figcaption::before,
.flex-events figure figcaption::after {
  pointer-events: none; }

.flex-events figure figcaption,
.flex-events figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.flex-events figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

.flex-events figure h3 {
  word-spacing: -0.15em;
  font-weight: 300; }

.flex-events figure h3 span {
  font-weight: 800; }

.flex-events figure h3,
.flex-events figure p {
  margin: 0; }

.flex-events figure p {
  letter-spacing: 1px;
  font-size: 68.5%; }

/*---------------*/
/***** Zoe *****/
/*---------------*/
figure.effect-zoe figcaption {
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 3.75em;
  background: rgba(255, 255, 255, 0.6);
  color: #15627B;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  display: flex;
  justify-content: space-between;
  align-items: center; }

figure.effect-zoe h3 {
  float: left;
  font-size: 0.8em;
  padding: 0; }

figure.effect-zoe h3 a, figure.effect-zoe h3 a:hover {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #15627B;
  transition: background-color .2s ease-in-out;
  box-shadow: 0px 5px 10px 0px grey; }

figure.effect-zoe p.icon-links {
  float: right;
  color: #15627B;
  padding: 5px 10px;
  margin: 0;
  background-color: #fff;
  transition: background-color .2s ease-in-out;
  font-size: 0.8em;
  font-family: 'Raleway';
  box-shadow: 0px 5px 10px 0px grey; }

figure.effect-zoe h3 a:hover {
  background-color: #0f4658;
  color: #fff;
  transition: background-color .2s ease-in-out, color .2s ease-in-out; }

figure.effect-zoe p.description {
  position: absolute;
  bottom: 20vh;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  font-family: 'Raleway-SemiBold';
  font-style: italic;
  color: #0f4658;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-backface-visibility: hidden;
  /* Fix for Chrome 37.0.2062.120 (Mac) */ }

figure.effect-zoe h3 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0); }

figure.effect-zoe p.icon-links a span::before {
  display: inline-block;
  padding: 8px 10px;
  font-family: 'feathericons';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-eye::before {
  content: '\e000'; }

.icon-paper-clip::before {
  content: '\e001'; }

.icon-heart::before {
  content: '\e024'; }

figure.effect-zoe h3 {
  display: inline-block; }

figure.effect-zoe:hover p.description {
  opacity: 1; }

figure.effect-zoe:hover h2 {
  visibility: hidden; }

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-zoe:hover h3 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

/*

*/
body {
  font-family: "Raleway" !important; }

.no-padding {
  padding: 0 !important; }

/************** HEADER *******************/
.container-header {
  box-shadow: 0px 1px 10px 0px grey;
  background-color: #fff;
  position: fixed;
  z-index: 99;
  height: 8vh;
  top: 0; }

.container-header .navbar {
  height: 8vh; }

.container-header .navbar .navbar-brand img {
  height: 7.5vh; }

.container-header .navbar #bs4navbar #menu-menu-principal {
  display: flex;
  justify-content: space-between;
  width: 60%; }

.container-header .navbar #bs4navbar #menu-menu-principal .menu-item .nav-link {
  color: #15627B;
  border-bottom: 1px solid transparent;
  font-family: 'Raleway';
  font-size: 1em;
  transition: border-bottom .3s ease-in-out;
  padding: 0; }

.container-header .navbar #bs4navbar #menu-menu-principal .nav-link:hover {
  color: #15627B;
  border-bottom: 1px solid #15627B;
  transition: border-bottom .3s ease-in-out; }

.container-header .navbar #bs4navbar #menu-menu-principal .active {
  color: #15627B;
  border-bottom: 1px solid #15627B;
  transition: border-bottom .3s ease-in-out; }

/**************** INDEX *************************/
.container-image {
  position: relative;
  height: 65vh; }

.container-image .image-couv {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 90vh;
  top: 8vh;
  object-fit: cover;
  object-position: top center;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  box-shadow: 0px 1px 10px 0px grey; }

.container-image .eve-presentation {
  width: 50%;
  position: absolute;
  top: 55%;
  left: 25%;
  padding: 4vh 5%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  text-align: center;
  font-family: 'Raleway'; }

.container-image .eve-presentation h1 {
  color: #15627B;
  font-size: 0.85em;
  line-height: 1.5em;
  text-align: justify;
  font-style: italic;
  font-family: 'Raleway-SemiBold';
  margin-bottom: 20px; }

.container-image .eve-presentation button {
  background: #15627B;
  border-radius: 10px;
  color: #fff;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0px 5px 10px 0px black;
  cursor: pointer;
  border: none;
  font-size: 0.9em; }

.container-image .eve-presentation button:hover {
  background: #0f4658;
  transition: all 0.3s ease; }

.container-image .eve-presentation button:active {
  background: #020b0e; }

.container-events {
  background-color: #15627B;
  font-family: 'Raleway';
  color: #fff;
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-shadow: 0px 1px 10px 0px grey;
  position: relative; }

.container-events .row-events {
  padding-left: 18%;
  padding-right: 18%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.container-events .row-events .agenda-title {
  text-transform: uppercase;
  font-family: 'Raleway-Bold';
  border-bottom: 0.5px solid #fff; }

.container-publications {
  background-color: #fff;
  font-family: 'Raleway';
  color: #15627B;
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-shadow: 0px 1px 10px 0px grey; }

.container-publications .row-publications {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }

.container-publications .row-publications .publications-title {
  text-transform: uppercase;
  font-family: 'Raleway-Bold';
  border-bottom: 0.5px solid #15627B; }

.container-publications .row-publications .flex-publications {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 1em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.container-publications .row-publications .flex-publications .publication-link {
  width: 40%;
  margin: 5%;
  height: 40vh; }

.container-publications .row-publications .flex-publications .publication-link .publication {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  background-color: #000;
  transition: background-color .5s linear;
  display: flex;
  justify-content: center;
  align-items: center; }

.container-publications .row-publications .flex-publications .publication-link .publication img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4; }

.container-publications .row-publications .flex-publications .publication-link .publication h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  color: #fff;
  font-family: 'Raleway-Bold';
  font-size: 1.5em; }

.container-publications .row-publications .flex-publications .publication-link .publication img, .container-publications .row-publications .flex-publications .publication-link .publication h2 {
  transform: scale(1);
  transition: transform .5s linear; }

.container-publications .row-publications .flex-publications .publication-link:hover .publication {
  background-color: #061d24;
  transition: background-color .5s linear; }

.container-publications .row-publications .flex-publications .publication-link:hover .publication img, .container-publications .row-publications .flex-publications .publication-link:hover .publication h2 {
  transform: scale(1.05);
  transition: transform .5s linear; }

.container-publications .row-publications .flex-publications .dernieres-publications {
  width: 100%;
  text-align: center;
  color: #15627B;
  font-family: 'Raleway';
  text-decoration: underline;
  font-size: 1.2em; }

.container-publications .row-publications .flex-publications .dernieres-publications p {
  margin-bottom: 0; }

.container-reseaux-sociaux {
  background-color: #15627B;
  color: #fff;
  font-family: 'Raleway-SemiBold';
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 10px 0px grey; }

.container-reseaux-sociaux .phrase-reseaux-sociaux {
  color: #fff;
  text-align: center; }

.container-reseaux-sociaux .row-reseaux-sociaux a {
  margin-left: 10px;
  margin-right: 10px; }

.container-reseaux-sociaux .row-reseaux-sociaux a img {
  width: 50px;
  height: 50px;
  object-fit: contain; }

.container-contact {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-family: 'Raleway-SemiBold';
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

.container-contact .phrase-contact {
  width: 50%;
  margin-bottom: 2vh;
  margin-top: 2vh; }

.container-contact .contact-button {
  background: #15627B;
  border-radius: 10px;
  color: #fff;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0px 5px 10px 0px black;
  cursor: pointer;
  border: none;
  font-size: 1.2em;
  margin-bottom: 2vh; }

.container-contact .contact-button:hover {
  background: #0f4658;
  transition: all 0.3s ease; }

.container-contact .contact-button:active {
  background: #020b0e; }

/***************** FOOTER ***********************/
.container-footer {
  width: 100%;
  height: 65px;
  background-color: #15627B;
  color: #fff;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway'; }

.container-footer .logo-footer img {
  height: 65px;
  position: absolute;
  left: 20px;
  top: 0; }

.container-footer .footer-sentence {
  margin: 0;
  margin-right: 5px; }

.container-footer #menu-menu-footer {
  display: flex;
  flex-direction: row; }

.container-footer #menu-menu-footer .menu-item a {
  color: #fff;
  text-decoration: underline;
  font-family: 'Raleway';
  padding-left: 5px;
  padding-right: 5px; }

.container-footer #menu-menu-footer .menu-item::before {
  content: "-"; }

.container-footer #menu-menu-footer a:hover {
  text-decoration: none;
  transition: text-decoration .3s ease-in-out; }
